<% title='Crear usuario' %>
  <%- include('../base/estructura-head.ejs'); %>
    <h4>Crear usuario</h4>
    <form action="/user/create" method="post">
      <input placeholder="Nombre" name="firstName" />
      <input placeholder="Apellido" name="lastName" />
      <input placeholder="Email" name="email" />
      <button type="submit">Enviar</button>
    </form>
    <%- include('../base/estructura-foot.ejs'); %>